{
  "root": true,
  "env": {
    "node": true,
    "es2021": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": true,
    "projectRoot": "__dirname",
    "tsconfigRootDir": "__dirname"
  },
  "extends": [
    "plugin:import/typescript"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "jest"
  ],
  "rules": {
    "@typescript-eslint/indent": [
      "error",
      2
    ],
    "spaced-comment": [
      "error",
      "always",
      { "markers": ["/ <reference"] }
    ],
    "import/no-extraneous-dependencies": ["off", {
      "devDependencies": true,
      "optionalDependencies": false
    }],
    "prefer-promise-reject-errors": ["off"],
    "import/extensions": ["off"],
    "no-return-assign": ["off"]
  }
}
