# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

permissions:
  actions: read

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22.x, 24.x]
        target: [
          ./,
          ./cognito-admin/app,
          ./cognito-admin/infra,
          ./cognito-trigger-examples,
        ]

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
        check-latest: true
        package-manager-cache: false

    - uses: pnpm/action-setup@v4
      name: Install pnpm
      with:
        run_install: |
          - recursive: true
            args: [--no-frozen-lockfile]
          - args: [--global, aws-cdk]

    - name: build
      working-directory: ./common/cognito-singin
      run: pnpm build
  
    - name: build
      env:
        BASE_PATH: /oauth/device/activate
        YARN_ENABLE_IMMUTABLE_INSTALLS: false
      working-directory: ${{ matrix.target }}
      run: pnpm build
